{{define "default/index.html"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
    {{template "default/page_header.html" .}}
    <h2>{{.title}}</h2>
    <!-- <h5>{{.content}}</h5> -->
    <!-- <h5>{{.creatTime}}</h5> -->
    <!-- 条件判断 -->
    <!-- {{$sc := .score}} -->
    <p>{{.score}}</p>
    {{if gt .score 90.0}}
    <p>优秀</p>
    {{else if gt .score 60.0}}
    <p>及格</p>
    {{else}}
    <p>不及格</p>
    {{end}}

    <!-- 循环遍历 -->
    {{range $key,$value := .hobbys}}
    <p>{{$key}} "---" {{$value}}</p>
    {{end}}

    <!-- 自定义模板函数 -->
    <p>
        {{.articel.CreatTime}}
    </p>
    <p>
        {{Unix2Time .articel.CreatTime}}
    </p>
    {{template "default/page_footer.html" .}}
</body>
</html>
{{end}}